<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="sequenceGenerator"
		class="com.yunex.springrecipes.sequence.SequenceGenerator">
		<property name="prefix">
			<value>30</value>
		</property>
		<property name="suffix">
			<value>A</value>
		</property>
		<property name="initial">
			<value>100000</value>
		</property>
		
		<property name="suffixes">
			<map>
				<entry>
					<key>
						<value>type</value>
					</key>
					<value>A</value>
				</entry>
				<entry>
					<key>
						<value>url</value>
					</key>
					<bean class="java.net.URL">
						<constructor-arg value="http" />
						<constructor-arg value="www.apress.com" />
						<constructor-arg value="/" />
					</bean>
				</entry>
			</map>
		</property>

		<property name="suffixes2">
			<props>
				<prop key="type">A</prop>
				<prop key="url">http://www.apress.com/</prop>
				<prop key="null"></prop>
			</props>
		</property>
	</bean>
</beans>
