<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="sequenceGenerator"
		class="com.yunex.springrecipes.sequence.SequenceGenerator">
		<property name="prefix">
			<value>30</value>
		</property>
		<property name="suffix">
			<value>A</value>
		</property>
		<property name="initial">
			<value>100000</value>
		</property>
		
		<property name="suffixes">
			<list>
				<value>A</value>
				<bean class="java.net.URL">
					<constructor-arg value="http" />
					<constructor-arg value="www.apress.com" />
					<constructor-arg value="/" />
				</bean>
				<null />
			</list>
		</property>
	</bean>

	<!-- 파라미터처럼 사용하는 경우. 생성자의 파라미터 순으로 입력됨 -->
	<!--
	<bean name="sequenceGenerator" class="com.yunex.springrecipes.sequence.SequenceGenerator">
		<constructor-arg value="30" />
		<constructor-arg>
			<value>A</value>
		</constructor-arg>
		<constructor-arg>
			<value>100000</value>
		</constructor-arg>
	</bean>
	-->
</beans>
